<div id="content">
  <h1>All Projects</h1>
  
  {{#each proj in model}}
    <div class="card">
      <div class="left">
        <div class="traffic-outer">
          <div class="traffic-inner">
            {{#if proj.isRed}}
              <div class="status_3">
              </div>
            {{else}}
              <div class="status_0">
              </div>
            {{/if}}
            
            {{#if proj.isAmber}}
              <div class="status_2">
              </div>
            {{else}}
              <div class="status_0">
              </div>
            {{/if}}
            
            {{#if proj.isGreen}}
              <div class="status_1">
              </div>
            {{else}}
              <div class="status_0">
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="right">
        <h3>{{proj.title}}</h3>
        <br>
        <ul>
          <li><p>{{proj.milestone}}</p></li>
          <li>Deadline: <strong>{{proj.deadline}}</strong></li>
          <li>Username: <strong>{{proj.userName}}</strong></li>
        </ul>
      </div>
    </div>
    {{else}}
      <h3 class="no_proj">No Live Projects</h3>
      {{#link-to "new-project" class="btn_sub"}}+ New Project{{/link-to}}
  {{/each}}
</div>