<div id="content">
    <h1>Live Projects</h1>
    <br>
  <hr/>
  {{#each proj in model}}
    <div class="card">
      <button class="delete_card" {{action "deleteCard" proj}}>x</button>
      <div class="left">
        <div class="traffic-outer">
          <div class="traffic-inner">
            {{#if proj.isRed}}
              <div {{action 'setRed' proj}} class="status_3">
              </div>
            {{else}}
              <div {{action 'setRed' proj}} class="status_0">
              </div>
            {{/if}}
            
            {{#if proj.isAmber}}
              <div {{action 'setAmber' proj}} class="status_2">
              </div>
            {{else}}
              <div {{action 'setAmber' proj}} class="status_0">
              </div>
            {{/if}}
            
            {{#if proj.isGreen}}
              <div {{action 'setGreen' proj}} class="status_1">
              </div>
            {{else}}
              <div {{action 'setGreen' proj}} class="status_0">
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="right">
        <h3>{{proj.title}}</h3>
        <br>
        <ul>
          {{#if proj.isEditing}}
            <li><strong>Edit Milestone:</strong>{{input type="text" class="edit" value=proj.milestone focus-out="acceptChanges" insert-newline="acceptChanges"}}</li>
            <li>Date of Milestone: <strong>{{input type="date" class="edit" value=proj.deadline focus-out="acceptChanges" insert-newline="acceptChanges"}}</strong></li>
            <li>User Responsible:<br>
              {{view "select" content=users optionValuePath="content" optionLabelPath="content.userName" value=username}}
            </li>
          {{else}}
            <li {{action "editMilestone" proj on="doubleClick" }}><strong>Current Milestone:</strong><p>{{proj.milestone}}</p></li>
            <li {{action "editMilestone" proj on="doubleClick" }}>Date of Milestone: <strong>{{date proj.deadline}}</strong></li>
            <li {{action "editMilestone" proj on="doubleClick" }}>User Responsible: <strong>{{proj.userName.userName}}</strong></li>
          {{/if}}
          
          {{#if proj.isEditing}}
            <li><button {{action "acceptChanges" proj}} class="btn_edit">Save</button></li>
          {{else}}
            <li><button {{action "editMilestone" proj}} class="btn_edit">Edit</button></li>
          {{/if}}
        </ul>
      </div>
    </div>
    {{else}}
      <h3 class="no_proj">No Live Projects</h3>
      {{#link-to "new-project" class="btn_sub"}}+ New Project{{/link-to}}
  {{/each}}
  <br><br>
  <small>
    <p><span style="color:red;">Red</span> - There is no control over the project</p>
    <p><span style="color:orange;">Amber</span> - The project can have control but has not been taken yet</p>
    <p><span style="color:green;">Green</span> - The project is under control and no further action is required.</p>
  </small>
</div>
