<div id="content">
    <h1>Archived Projects</h1>
    <br><br>
    {{#link-to "all-projects" class="btn_edit"}}Live Projects{{/link-to}}
    <br><br>
    <hr/>
     {{#each proj in model}}
       {{#unless proj.isLive}}
        <div class="card">
          <button class="delete_card" {{action "deleteCard" proj}}>x</button>
          <div class="left">
            <div class="traffic-outer">
              <div class="traffic-inner">
                {{#if proj.isRed}}
                  <div {{action 'setRed' proj}} class="status_3"></div>
                {{else}}
                  <div {{action 'setRed' proj}} class="status_0"></div>
                {{/if}}
        
                {{#if proj.isAmber}}
                  <div {{action 'setAmber' proj}} class="status_2"></div>
                {{else}}
                  <div {{action 'setAmber' proj}} class="status_0"></div>
                {{/if}}
        
                {{#if proj.isGreen}}
                  <div {{action 'setGreen' proj}} class="status_1"></div>
                {{else}}
                  <div {{action 'setGreen' proj}} class="status_0"></div>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="right">
            <h3>{{proj.title}}</h3>
            <br>
            <ul>
                <li {{action "editMilestone" proj on="doubleClick" }}>
                  <strong>Current Milestone:</strong>
                  <p>{{proj.milestones.lastObject.details}}</p>
                </li>
                <li {{action "editMilestone" proj on="doubleClick" }}>
                  Date of Milestone: 
                  <strong>{{proj.milestones.lastObject.selectedDeadline}}</strong>
                </li>
                <li {{action "editMilestone" proj on="doubleClick" }}>
                  User Responsible: 
                  <strong>{{proj.milestones.lastObject.user.userName}}</strong>
                </li>
                <li><button {{action "setLive" proj}} class="btn_edit">Make Live</button></li>
            </ul>
          </div>
        </div>
      {{/unless}}
    {{/each}}
</div>