<div id="content">
  <h1>New Project</h1>
  <br>
  {{#if isError}}
    <p class="error">
        Please ensure all the required fields contain the correct information
    </p>
  {{/if}}
  <hr/>
  <div class="back">
    <div class="left">
      <label class="form-label">Project Title*</label>
      <br>
      {{input autofocus="autofocus" type="text" placeholder="project title" name="ProjectTitle" class="inputText" value=projectTitle}}
      <br>
      <br>
      <h3>Milestone</h3>
      <br>
      <label class="form-label">First Milestone*</label>
      <br>
      {{textarea placeholder="first milestone..." name="milestone" class="inputText" rows="5" value=projectMilestone}}
      <br>
      <br>
      <label class="form-label">Deadline*</label>
      <br>
      {{input type="date" placeholder="deadline" class="inputText" value=deadline}}
      <br>
      <br>
      <label class="form-label">User*</label>
      <br>
      {{view "select"
             content=activeUsers
             optionValuePath="content"
             optionLabelPath="content.userName"
             value=username}}
      
      {{#link-to "new-user" class="btn_help"}}Add User{{/link-to}}
      <br>
      <label class="form-label">Status*</label>
      <br>
      {{view "select" value=lightStatus content=lStatus }}
      <br>
      <br>
      <button class="btn_sub" {{action "createProject"}}>Create</button>
    </div>
  </div>
</div>